/*
--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  */

/* GENERAL STYLES */

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 500;
  color: #fff;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.img-container {
  max-width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./../img/clouds.jpg);
  background-size: cover;
  background-position: center;
}

.grid {
  display: grid;
  column-gap: 3.2rem;
  row-gap: 3.2rem;
}

.grid--2--columns {
  grid-template-columns: 1fr 1fr;
}

path {
  fill: #fff;
}
/* HEADER */

nav {
  font-size: 2.4rem;

  display: flex;
  align-items: center;
  column-gap: 2.4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 130rem;
  margin: 0 auto;
  margin-bottom: 3.2rem;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.logo {
  width: 3.6rem;
  filter: invert(97%) sepia(97%) saturate(13%) hue-rotate(209deg)
    brightness(104%) contrast(103%);
}

/* form */

::placeholder {
  color: #fff;
  opacity: 1;
}

input:focus::placeholder {
  color: transparent;
}

.city-name-input {
  border: none;
  background: transparent;

  font-size: 2.4rem;
  color: #fff;
}

.city-name-label {
  font-size: 3.2rem;
  display: inline-block;
  transform: rotate(-45deg);
}

input[type="text"] {
  outline: none;
}

/* MAIN CONTENT */
/* SECTION WEATHER */

.main {
  margin-bottom: 2.4rem;
}

.section-weather {
  max-width: 110rem;
  background-color: rgba(250, 257, 257, 0.075);
  padding: 6.4rem;
  padding-top: 3.2rem;
  border-radius: 12px;
  margin-bottom: 2.4rem;
}

.cards {
  display: flex;
  column-gap: 2.4rem;

  font-size: 1.6rem;
  font-weight: 300;
}

.card {
  font-size: 2rem;
  padding: 1.6rem 2.4rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;

  transition: all 0.5s;
}

.card:hover {
  transform: translateY(-1.5px);
}

.card-link:link,
.card-link:visited {
  text-decoration: none;
  color: #fff;

  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.card-active {
  background-color: rgba(255, 255, 255, 0.15);
}

/* section-more-info */

.section-more-info {
  max-width: 100rem;
  padding: 0 3.2rem;
  margin: 0 auto;

  justify-items: center;
  align-items: center;
  gap: 28rem;
}

.day-type {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.day-info {
  font-size: 1.6rem;
  font-weight: 300;
}

.atmosphere-info {
  display: grid;
  justify-self: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  row-gap: 3.2rem;
}

.detailed-description {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.atmosphere {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.atmosphere-type {
  font-size: 1.6rem;
  font-weight: 400;

  /* display: flex;
  flex-direction: column;
  gap: 0.8rem; */
}

.type {
  margin-bottom: 0.8rem;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.2rem;
  padding: 0 1.6rem;
}

.temperature-unit {
  font-size: 2.4rem;
}

button {
  display: inline-block;
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.349);
  font-size: 2.4rem;
  cursor: pointer;
}

.unit-active {
  color: #fff;
}

.temperature-unit button::before {
  content: "\00B0";
}

.copyright {
  font-size: 1.6rem;
  font-weight: 300;
}
