/*
--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  */

/* GENERAL STYLES */

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 500;
  color: #fff;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.img-container {
  max-width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./../img/clouds.jpg);
  background-size: cover;
  background-position: center;
}

.grid {
  display: grid;
  column-gap: 3.2rem;
  row-gap: 3.2rem;
}

.grid--2--columns {
  grid-template-columns: 1fr 1fr;
}

/* HEADER */

nav {
  font-size: 2.4rem;

  display: flex;
  align-items: center;
  column-gap: 2.4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 130rem;
  margin: 0 auto;
  margin-bottom: 4.8rem;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.logo {
  width: 3.6rem;
  height: 3.6rem;
  stroke: #fff;
}

/* form */

::placeholder {
  color: #fff;
  opacity: 1;
}

input:focus::placeholder {
  color: transparent;
}

.city-name-input {
  border: none;
  background: transparent;

  font-size: 2.4rem;
}

.city-name-label {
  font-size: 3.2rem;
  display: inline-block;
  transform: rotate(-45deg);
}

input[type="text"] {
  outline: none;
}

/* SECTION WEATHER */

.section-weather {
  max-width: 110rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 6.4rem;
  border-radius: 12px;
  margin-bottom: 2.4rem;

  /* temp height */
  height: 45rem;
}

.cards {
  display: flex;
  column-gap: 2.4rem;
}

.card {
  font-size: 2rem;
  padding: 1.6rem 2.4rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;

  transition: all 0.5s;
}

.card:hover {
  transform: translateY(-10px);
}

.card-link:link,
.card-link:visited {
  text-decoration: none;
  color: #fff;

  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.active {
  background-color: rgba(255, 255, 255, 0.2);
}

/* section-more-info */

.section-more-info {
  max-width: 100rem;
  padding: 0 3.2rem;
  margin: 0 auto;

  justify-items: center;
  align-items: center;
  gap: 28rem;
}

.day-type {
  font-size: 2rem;
  font-weight: 500;
}

.day-info {
  font-size: 1.6rem;
  font-weight: 300;
}

.atmosphere-info {
  display: grid;
  justify-self: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  row-gap: 3.2rem;
}

.detailed-description {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.atmosphere {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.atmosphere-type {
  font-size: 1.6rem;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
